CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs/
*.aps
/Data/*/*/*.cso
*.cso
imgui.ini
*.nsight-gfxproj
/out
/logs
/Assets
Assets.7z
/build
